{% extends "base.html" %}

{% block content %}
    <h2><i class="fa fa-calendar"></i> Timeslots</h2>
    <table class="table">
        <tr>
            <th>Start time</th>
            <th>Free slots</th>
            <th></th>
        </tr>
        {% for timeslot in object_list %}
            <tr>
                <td>{{ timeslot.start_time|date:"Y-m-d H:i" }}</td>
                <td>{{ timeslot.free_slots }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'cc:game-rebook-redirectview' game.id timeslot.start_time|date:"Y-m-d H:i" %}"><i class="fa fa-clock-o"></i> Rebook</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">There are currently no available timeslots!</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}