{% extends "base.html" %}

{% block content %}
    <h2><i class="fa fa-calendar"></i> Game Queue</h2>
    <p>Current waiting time: 00:00</p>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Timeslot</th>
                <th>Team</th>
                <th>Players</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in object_list %}
            <tr {% if game.is_late %}class="bg-danger"{% elif game.players.count < 5 %}class="bg-warning"{% else %}class="bg-success"{% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>{{ game.slot.timeslot.start_time|date:'H:i' }}</td>
                <td>{{ game.team }}</td>
                <td>{{ game.players.count }}</td>
                <td><a class="btn btn-primary" href="{% url 'cc:game-detail-view' game.code %}"><i class="fa fa-users"></i> Select</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">There are currently no games in the queue.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}