{% extends "base.html" %}

{% block content %}
    <h2><i class="fa fa-gamepad"></i> Games List</h2>
    <form class="form-inline" action="." method="get">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-users"></i></div>
          <input type="text" class="form-control input-lg" name="q" placeholder="Les p'tits loups">
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Timeslot</th>
                <th>Team</th>
                <th>Players</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in object_list %}
            <tr {% if game.is_late %}class="bg-danger"{% elif game.players.count < 5 %}class="bg-warning"{% else %}class="bg-success"{% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>{{ game.slot.timeslot.start_time|date:'H:i' }}</td>
                <td>{{ game.team }}</td>
                <td>{{ game.players.count }}</td>
                <td><a class="btn btn-primary" href="{% url 'cc:game-detail-view' game.id %}"><i class="fa fa-users"></i> Select</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">There are currently no games in the queue.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}