{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

        <h1><i class="fa fa-users"></i> Add Team</h1>

        <form action="." method="post">
            {% csrf_token %}
            <div>
                {{ form|crispy }}
            </div>
            <fieldset>
                <legend>Players</legend>
                {{ player_form.management_form }}
                {{ player_form.non_form_errors }}
                {% for form in player_form %}
                    <div class="form-group">
                        {{ form.id }}{{ form.name }}
                    </div>
                {% endfor %}
            </fieldset>
            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check-square"></i> Save</button>
        </form>

{% endblock content %}
