{% extends "base.html" %}

{% block content %}
    <h2><i class="fa fa-search"></i> Timeslot {{ object.start_time|date:"Y-m-d H:i" }}-{{ object.end_time|date:"H:i" }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Team</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for booking in object.bookings.all %}
            <tr>
                <td>{{ booking.booking_position }}</td>
                <td>{{ booking.game.id }}</td>
                <td>{{ booking.game.team }}</td>
                <td><a class="btn btn-primary btn-lg" href="{% url 'cc:game-detail-view' booking.game.id %}"><i class="fa fa-users"></i> View</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">There are currently no groups assigned to this slot.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary btn-lg" href="{% url 'scheduler:timeslots-free-list' %}"><i class="fa fa-calendar"></i> Timeslots</a>
{% endblock %}