{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Gestion'air Web controller{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css' %}">

    <!-- Your stuff: Third-party css libraries go here -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% block angular %}
    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    {% endblock %}

    {% block jstop %}
    <script src="{% static 'vendor/jquery/jquery-2.1.4.min.js' %}"></script>
    {{ form.media }}
    {% endblock jstop %}

  </head>

  <body>

    <div class="header navbar">
      <div class="container">
        <a class="navbar-brand" href="/">Gestion'air Web controller</a>
        <ul class="nav navbar-nav">
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'scheduler:timeslots-list' %}"><i class="fa fa-calendar"></i> Timeslots</a></li>
            <li><a href="{% url 'cc:game-queue-view' %}"><i class="fa fa-clock-o"></i> Game Queue</a></li>
            <li><a href="{% url 'cc:game-search-view' %}"><i class="fa fa-gamepad"></i> Games List</a></li>
            <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
     
      <script src="{% static 'vendor/jquery/jquery-2.1.4.min.js' %}"></script>
      {{ form.media }}
      <!-- Latest compiled and minified JavaScript -->
      <script src="{% static 'vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
 
