<!DOCTYPE html>
<html>
  <head>
    <title>Gestion'air</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
      <h1>Ajouter un groupe</h1>
      <form method="GET" action="CreationGroupe">
         libelle: <input type="text" name="libelle"><br><br>
         participant 1: <input type="text" name="libelle"><br>
         participant 2: <input type="text" name="libelle"><br>
         participant 3: <input type="text" name="libelle"><br>
         participant 4: <input type="text" name="libelle"><br>
         participant 5: <input type="text" name="libelle"><br>
         participant 6: <input type="text" name="libelle"><br><br>
         <input type="submit" value="Créer un groupe">
      </form>
      <br><a href='index'>Index</a>
  </body>
</html>
